header {
    background-color: #DDDDDD;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 1%;
    padding: 30px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    transition: all 0.4s;
}

.produtos li:hover {
    border-color: #c78c19;
    cursor: pointer;
}

.produtos li:active {
    border-color: aquamarine;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 20px;    
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 ;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}